body
{
	background-color: #900C3F ;
}
header
{
	background-color: rgb(255, 255, 0);
}

.display{
  display: inline-block;
	margin: 2px;
	width: 198px;
	height: 29px;
	font-size: 20px;
    font-weight: bold;
    background-color: rgba(245, 242, 237, 0.589);
	/* background:none */
	/* border-radius: 10px; */
	border: none;
}
#demo
{
	display: inline-block;
	margin: 2px;
	width: 187px;
	height: 42px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	outline: none;
}	
}
button {
  cursor: pointer;
	display: inline-block;
	margin: 2px;
	width: 42px;
	height: 42px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	outline: none;
}


.equalButton {
    cursor: pointer;
	display: inline-block;
	margin: 2px;
	width: 42px;
	height:91px;
    outline: none;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
  
}

.button {
    cursor: pointer;
	display: inline-block;
	margin: 2px;
	width: 42px;
	height: 42px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	outline: none;
  
}
.button:hover,.equalButton:hover {
	

	border-top: 2px solid #FFF;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #AE5700;
	border-left: 2px solid #AE5700;
}
h1{
	color:#340B03;
	font-size: 52px;
    text-justify: newspaper;
    text-align: center;

}
.calculator{
		background: rgba(146, 142, 142, 0.589);
		/* background-size: 100px 80px; */
		background-size: cover;
		background-color: #F08080;
		position:absolute;
		border-radius: none;
        top:50%;
        left:50%;
       transform:translateX(-50%) translateY(-50%);
}

